page{
    background: #efeff4;
}
textarea{
    position: static;
}
.button-sp-area{
    margin: 0 auto;
    padding-top: 15px;
    width: 80%;
    height: 150px;
    margin-top: 50px;
}
.intro{
    height:128px;
    width:100%;
    line-height:20px;
    margin-left: 10rpx;
    top: 2px;
}
.phone{
    height:28px;
    margin-left: 10rpx;
    top: 2px;
}
.addr{
    height:30px;
    margin-left: 10rpx;
    top: 2px;
}
.contact_count_text{
    font-size: 24rpx;
    color: #999;
}
.item-avatar-lg{
    background: white;
    margin-bottom: 20rpx;
}
.item-avatar-xs{
    padding: 0 30rpx;
    height: 89rpx;
}
.input_key, .input_val, .input_title{
    line-height: 89rpx;
    color: #333;
    font-size: 30rpx;
}
.input_val{
    line-height: 89rpx;
    height: 89rpx;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.input_title{
    font-size: 26rpx;
}
#shop_name_label{
    height: 84rpx;
    padding-left: 20rpx;
}
.shop_label{
    font-size: 24rpx;
    color: #999999;
    display: block;
}
.service_intro_con, .address_con, .tele_con{
    padding-left: 30rpx;
    padding-bottom: 20rpx;
    background: #fff;
    margin-bottom: 20rpx;
}
.service_intro_title{
    display: block;
    border-bottom: 1px solid #eee;
    height: 89rpx;
    line-height: 89rpx;
    font-size: 26rpx;
    color: #333333;
}
.service_intro_content{
    padding-top: 20rpx;
    padding-right: 20rpx;
    font-size: 26rpx;
    line-height: 1.5;
    color: #333333;
    width: 100%;
    height: 89rpx;
}
.address_con, .tele_con{
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 30rpx;
}
.address_content, .tele_content{
    display: inline-block;
    font-size: 26rpx;
    color: #333333;
    height: 89rpx;
    line-height: 89rpx;
    width: 480rpx;
    margin-left: 30rpx;
}
.address_title, .tele_title{
    display: inline-block;
    font-size: 30rpx;
    color: #333333;
    height: 89rpx;
    line-height: 89rpx;
}
.button_con{
    margin: 40rpx auto 0;
    width: 90%;
}
#complaint_btn{
    background: #FF552E;
}
#rebind_btn{
    background: #1AAE18;
    margin-top: 30rpx;
}
#refresh_btn{
    background: #1AAE18;
    margin-top: 30rpx;
}
/*展开收起 s*/
.service_introduce_packup_switch{
}
.service_introduce_packup_switch>text{
  display: inline;
  font-size: 26rpx;
  color: #1AAD19;
  line-height: 30rpx;
}
.content_pack_icon{
  width: 18rpx;
  height: 10rpx;
  vertical-align: 2rpx;
}
/*展开收起 e*/
.textarea-placeholder{
  color: #b2b2b2;
}
.input_key{
    width: 180rpx;
    flex-shrink: 0;
    flex-grow: 0;
}
.textarea_input_key{
    line-height: 30rpx;
}
.textarea_input_con{
    padding-top: 30rpx;
}
.input-placeholder, .textarea-placeholder{
    color: #B2B2B2;
    font-family: PingFangSC-Regular;
}

.nohave { color:#b2b2b2;}