/* contacts/contacts.wxss */
.search_fake_container{
  padding: 20rpx 16rpx 20rpx;
  background-color: #efeff4;
}
.search_fake{
  background: #FFFFFF;
  border: 1px solid #E7E7EB;
  border-radius: 8rpx;
  text-align: center;
  font-size: 26rpx;
  color: #B2B2B2;
  letter-spacing: 0.28px;
  height: 58rpx;
  line-height: 60rpx;
}
.single_contact{
  padding: 28rpx;
  height: 185rpx;
  border-bottom: 1rpx solid #ededed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.avatar{
  display: block;
  width: 102rpx;
  height: 102rpx;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.nickname{
  font-family: PingFangSC-Regular;
  font-size: 30rpx;
  color: #333333;
}
.contact_info_con{
  flex-grow: 1;
  flex-shrink: 1;
  width: 390rpx;
  padding: 0 20rpx;
  height: 118rpx;
}
.contact_btn{
  flex-grow: 0;
  flex-shrink: 0;
  width: 136rpx;
  height: 60rpx;
  border: 2rpx solid #FF552E;
  border-radius: 6rpx;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 26rpx;
  color: #FF552E;
  line-height: 60rpx;
}
.nickname, .category, .user_count_text, .remark, .last_touch{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.category, .remark{
  font-family: PingFangSC-Regular;
  font-size: 24rpx;
  color: #333333;
}
.user_count_text, .last_touch{
  font-family: PingFangSC-Regular;
  font-size: 20rpx;
  color: #999999;
}
/*搜索功能相关 start*/
.search_fake_container{
  padding: 16rpx 16rpx;
  background-color: #efeff4;
}
.search_fake{
  background: #FFFFFF;
  border: 1px solid #E7E7EB;
  border-radius: 8rpx;
  text-align: center;
  font-size: 26rpx;
  color: #B2B2B2;
  letter-spacing: 0.28px;
  height: 58rpx;
  line-height: 60rpx;
}
.search_mask{
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #EFEFF4;
}
.search_input_container{
  display: flex;
  border-bottom: 1rpx solid rgba(0,0,0,0.10);
  height: 60rpx;
  padding: 16rpx 16rpx;
}
.search_input_container{
  display: flex;
  border-bottom: 1rpx solid rgba(0,0,0,0.10);
  height: 60rpx;
  padding: 16rpx 16rpx;
}
.search_entertext_con{
  height: 60rpx;
}
.search_entertext{
  font-size: 32rpx;
  color: #00C302;
  margin-left: 18rpx;
  line-height: 60rpx;
  height: 60rpx;
}
.search_input{
  flex-grow: 1;
  background: #FFFFFF;
  border: 1rpx solid #E6E6EA;
  border-radius: 10rpx;
  font-size: 26rpx;
  color: #000;
  letter-spacing: 0.28rpx;
  padding-left: 20rpx;
  height: 58rpx;
}
.search_suggest_title{
  display: block;
  font-size: 24rpx;
  color: #999999;
  letter-spacing: 0.26rpx;
  width: 100%;
  height: 140rpx;
  line-height: 140rpx;
  box-sizing: border-box;
  text-align: center;
}
.search_suggest_words{
  display: flex;
  flex-wrap: wrap;
}
.search_suggest_item{
  width: 30%;
  flex-grow: 1;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  color: #1AAD19;
  letter-spacing: 0.3rpx;
  padding-bottom: 30rpx;
}
/*搜索功能相关 end*/
