.body,page{
    background-color: #f6f6f6;
}
.menu{
    width: 21%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 1100rpx;
}
.title{
    width: 100%;
    font-size: 26rpx;
    height: 100rpx;
    text-align: center;
    line-height: 100rpx;
    border-bottom: 1rpx solid #f6f6f6;
}
.select{
    color: #FF552E;
    background-color: #f6f6f6;
}
.showBox{
    width: 79%;
    box-sizing: border-box;
    padding: 30rpx;
    margin-left: 21%;
}
.swiperTop{
    height: 148rpx;
}
.slide-image{
    width: 100%;
    height: 148rpx;
}
@import "../../temp/temp.scss";
.iconsBox{
    margin-bottom: 30rpx;
}

button.view-all {
    background-color: #FFFFFF;
    font-size: 25rpx;
}