page {
    background-color: #f5f5f5;
    width:100%;
    overflow-x: hidden;
}
.baseInfo {
    background-color: #fff;
    padding: 20rpx 30rpx 20rpx;
}
.baseTit {
    font-size: 32rpx;
    color: #333;
    line-height: 38rpx;
}
.tags {
    margin-top: 18rpx;
    padding-bottom:20rpx;
}
.tags .tag {
    display: inline-block;
    color: #0675d0;
    font-size: 24rpx;
    padding: 4rpx 14rpx;
    background: rgb(235, 243, 253);
    margin-right: 24rpx;
}
.baseInfo_share{
    float:right;
    font-size:26rpx;
    color:#333;
    margin-top:11rpx;
}
.baseInfo_shareIcon{
    width:46rpx;
    height:46rpx;
    margin-right:10rpx;
    vertical-align: middle;
}
.baseDate {
    display: flex;
    font-size: 24rpx;
    color: #999;
    padding-top:20rpx;
<<<<<<< HEAD
    border-top: 2rpx solid #f1ebdf;
=======
    // border-top: 2rpx solid #f1ebdf;
>>>>>>> huangxin
    align-items: center;
    justify-content: space-between;
}
.baseDetal {
    height: 55rpx;
    display: flex;
    font-size: 28rpx;
    position: relative;
    align-items: center;
}
.baseTel {
    height: 36rpx;
    width: 36rpx;
    background: url('https://img.58cdn.com.cn/ds/detail/tels.png') no-repeat 0 0;
    background-size: 36rpx;
    position: absolute;
    right: 0rpx;
}
.bdName {
    color: #989898;
    padding-right: 50rpx;
}
.bdValue {
    color: #000;
}
.serviceRange {
    width: 500rpx;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.bdAddress {
    max-width: 430rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.markBox {
    background-color: #fffbf3;
    font-size: 26rpx;
    margin-bottom: 20rpx;
}
.markList {
    display: flex;
    border-bottom: 2rpx solid #f1ebdf;
    height: 80rpx;
    align-items: center;
}
.markList::after {
    border: none;
}
.markTitle {
    width: 100rpx;
    text-align: right;
    color: #989898;
}
.markDes {
    display: flex;
    align-items: center;
    color: #666;
}
.markDes text {
    margin-left: 10rpx;
}
.markDes .mar30 {
    margin-left: 30rpx;
}
.successIcon {
    width: 25rpx;
    height: 25rpx;
    border: 2rpx solid #ff552e;
    margin-left: 30rpx;
    border-radius: 100%;
    position: relative;
}
.suceessRight {
    position: absolute;
    left: 9rpx;
    top: 2rpx;
    display: block;
    width: 9rpx;
    height: 18rpx;
    border-bottom: 1px solid #ff552e;
    border-right: 1px solid #ff552e;
    transform: rotate(45deg);
}
.chooseService {
    display: flex;
    height: 90rpx;
    padding: 0 30rpx;
    align-items: center;
    background-color: #fff;
    margin-top: 30rpx;
    justify-content: space-between;
}
.csImage {
    width: 140rpx;
    height: 32rpx;
}
.csTextBox {
    display: flex;
    font-size: 30rpx;
    color: #989898;
    align-items: center;
}
.csText {
    margin-right: 10rpx;
}
.orange {
    color: #ff552e;
}
.csArrow {
    border: 11rpx solid #989898;
    border-top-width: 9rpx;
    border-bottom-width: 9rpx;
    border-color: transparent transparent transparent #989898;
}
.tabBox {
    margin-top: 30rpx;
    height: 90rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-bottom: 2rpx solid #f1f1f1;
}
.tabBox .tabItem {
    width: 33.33333%;
    text-align: center;
    font-size: 30rpx;
    height: 90rpx;
    line-height: 90rpx;
    position: relative;
}
.select {
    color: #ff4f3f;
}
.select .tabLine {
    position: absolute;
    width: 60rpx;
    height: 4rpx;
    background-color: #ff4f3f;
    top: 75rpx;
    left: 50%;
    margin-left: -30rpx;
}
.detail {
    background-color: #fff;
    margin-top: 20rpx;
}
.detailMark {
    padding-left: 30rpx;
    border: 0 solid #000;
}
.detailMark view {
    margin: 30rpx 20rpx 0 0;
    padding: 8rpx 13rpx;
    font-size: 28rpx;
    background-color: #ebf5fe;
    color: #105fa2;
    display: inline-block;
}
.detailMain {
    padding: 30rpx 0 10rpx;
    font-size: 28rpx;
}
.detailTit {
    padding: 0 30rpx 20rpx;
}
.detailDes {
    padding: 0 30rpx 20rpx;
    color: #666;
    height: 260rpx;
    overflow: hidden;
    line-height: 40rpx;
    word-wrap: break-word;
    text-align: justify;
}
.show {
    height: auto;
}
.detailMore,
.detailMoreShow {
    height: 90rpx;
    border-top: 2rpx solid #f1f1f1;
    line-height: 90rpx;
    text-align: center;
    position: relative;
}
.detailMore text,
.detailMoreShow text {
    font-size: 30rpx;
    color: #666;
    padding-right: 20rpx;
}
.detailMore .dmArrow {
    border-color: transparent transparent #989898 transparent;
    margin-top: -15rpx;
}
.dmArrow {
    border: 11rpx solid #989898;
    border-top-width: 9rpx;
    border-bottom-width: 9rpx;
    border-color: #989898 transparent transparent transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 60rpx;
    margin-top: -5rpx;
}
.hotSeller{
    width:100%;
    overflow-x: hidden;
    background-color:white;
    .hot_title{
        background: #f5f5f5;
        text-align:center;
        font-size:30rpx;
        color:#666;
        height:90rpx;
        line-height: 90rpx;
        position: relative;
        z-index: 1;
        &:before {
            border-top: 2px solid #ddd;
            content:"";
            margin: 0 auto; 
            position: absolute; 
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 64%;
            z-index: -1;
        }

        .hot_title_info { 
            background:#f5f5f5;
            padding: 0 15px; 
        }
    }
    .hot_list {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1rpx solid #dedfe0;
        position: relative;
    }
    .hot_list_item{
        width:100%;
        display:flex;
        padding: 30rpx;
        position: relative;
    }
    .hot_list_item::after:not(:last-child){
        width:86%;
        content:"";
        height:2rpx;
        background:#f3f3f3;
        position: absolute;
        bottom:0;
    }
    
    .hot_list_l {
        float: left;
    }
    .hot_list_img {
        width: 184rpx;
        height: 138rpx;
        display: block;
        object-fit: cover;
        background-color: #f9f9f9;
    }
    .hot_list_c {
        float: left;
        padding-left: 20rpx;
    }
    .hot_list_c_t {
        line-height: 28rpx;
    }
    .hot_list_title {
        font-size: 28rpx;
        overflow: hidden;
        text-overflow:ellipsis;
        width: 486rpx;
        white-space:nowrap;
        color: #333;
    }
    .hot_list_category{
        font-size:26rpx;
        color:#999;
        margin-top:20rpx;
    }
    .hot_list_c_b {
        clear: both;
        width: 382rpx;
    }
    
    .hot_list_icon_box {
        float: left;
        line-height: 1;
        position: absolute;
        bottom:30rpx;
    }
    .hot_list_icon_info{
        font-size:22rpx;
        float:left;
        padding:8rpx 10rpx;
        color:#0675d0;
        margin-right:20rpx;
        background: rgba(57,160,244,.1);
    }
    .hot_more{
        border-top:1rpx solid #f3f3f3;
        height:80rpx;
        width:100%;
        line-height: 80rpx;
        color:#666;
        font-size:28rpx;
        text-align: center;
    }
    
}
.guess{
    background-color:white;
    .guess_title{
        background: #f5f5f5;
        text-align:center;
        font-size:30rpx;
        color:#666;
        height:90rpx;
        line-height: 90rpx;
        position: relative;
        z-index: 1;
        &:before {
            border-top: 2px solid #ddd;
            content:"";
            margin: 0 auto; 
            position: absolute; 
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 70%;
            z-index: -1;
        }

        .guess_title_info { 
            background:#f5f5f5;
            padding: 0 15px; 
        }
    }
    .guess_list {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .guess_list_item:nth-child(4n){
        border-right:none;
    }
    .guess_list_item{
        width:188rpx;
        box-sizing: border-box;
        height:200rpx;
        border-right:1rpx solid #f3f3f3;
        border-bottom:1rpx solid #f3f3f3;
        display:flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .thumb{
            padding-bottom:18rpx;
            width:89rpx;
            height:89rpx;
            margin:0 auto;
        }
        .name{
            font-size:24rpx;
            color:#666;
            text-align: center;
        }
    }
}
.detailType {
    padding: 0 30rpx;
}
.dtItem {
    width: 25%;
}
.dtItem image {
    width: 80rpx;
    height: 80rpx;
    display: block;
    margin: 20rpx auto;
}
.dtItem text {
    display: block;
    text-align: center;
}
.imgList {
    margin-top: 30rpx;
    padding: 30rpx;
    height: 220rpx;
    background-color: #fff;
    width: 100%;
}

.imgList image {
    width: 146px;
    height: 220rpx;
    border: 2rpx solid #f3f3f3;
    margin-right: 20rpx;
    float: left;
}
.firm {
    padding: 30rpx 30rpx 0;
    margin-top: 20rpx;
    background-color: #fff;
}
.firmHeadBox {
    display: flex;
}
.firmImgBox {
    width: 84rpx;
    height: 84rpx;
}
.firmImgBox image {
    width: 84rpx;
    height: 84rpx;
}
.firmTitBox {
    flex: 1;
    margin-left: 20rpx;
    height: 84rpx;
    line-height: 40rpx;
}
.ftMark {
    display: inline-block;
    padding: 2rpx 4rpx;
    background-color: #f2b839;
    font-size: 24rpx;
    color: #fff;
    margin-right: 16rpx;
    line-height: 24rpx;
}
.firmTit {
    font-size: 28rpx;
    color: #333;
}
.firmMarkBox {
    width: 150rpx;
}
.firmLevel {
    width: 150rpx;
    height: 40rpx;
    margin-top: 5rpx;
    background-image: url(https://img.58cdn.com.cn/olympia/img/shenghuo/final/vip_new_m.png);
    background-size: 150rpx 240rpx;
    background-repeat: no-repeat;
    font-size: 24rpx;
    line-height: 40rpx;
    padding-right: 15rpx;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
}
.zuanshi {
    background-position: 0 0;
}
.huangguan {
    background-position: 0 -48rpx;
}
.huangjin {
    background-position: 0 -96rpx;
}
.baiyin {
    background-position: 0 -144rpx;
}
.qingtong {
    background-position: 0 -192rpx;
}
.firmPerc {
    margin-top: 8rpx;
    font-size: 24rpx;
    color: #333;
    text-align: right;
}
.firmPerc text {
    color: #ff552e;
}
.firmCenterBox {
    display: flex;
    height: 104rpx;
    margin-top: 20rpx;
}
.fcbItem {
    flex: 1;
    height: 104rpx;
    padding: 10rpx 0;
    box-sizing: border-box;
    border-right: 2rpx solid #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fcbItem:last-child {
    border: none;
    padding: 0;
}
.fcbBig {
    font-size: 30rpx;
    text-align: center;
    color: #333;
}
.fcbSmall {
    font-size: 24rpx;
    text-align: center;
    color: #999;
}
.fcbHigh {
    font-size: 26rpx;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    padding: 0 30rpx;
    height: 35rpx;
    line-height: 35rpx;
}
.fcbRq {
    color: #999;
}
.fcbValue {
    color: #ff552e;
}
.fcbLevel {
    border: 1px solid #ff552e;
    display: inline-block;
    color: #ff552e;
    line-height: 28rpx;
    height: 26rpx;
    margin-bottom: 4rpx;
}
.firmBottomBox {
    margin-top: 20rpx;
    padding: 10rpx;
    padding-bottom:40rpx;
}
.ChooseService {
    height: 80rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    border-top:1rpx solid #f3f3f3;
}
.ChooseService .serviceName {
    font-size: 28rpx;
}
.ChooseService .serviceValue {
    font-size: 24rpx;
}
.ChooseService .serviceValue::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:10rpx; 
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #aaa;
}
.telButton {
    border: 2rpx solid #ff552e;
    text-align: center;
    color: #ff552e;
    border-radius: 4rpx;
    font-size: 30rpx;
    height: 56rpx;
    line-height: 56rpx;
    width: 80%;
    margin: 0 auto;
}
.listTit {
    height: 40rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30rpx;
    padding: 20rpx 0;
    margin-top: 20rpx;
}
.listTit::before {
    content: '';
    width: 80rpx;
    height: 2rpx;
    background-color: #ddd;
    margin-right: 20rpx;
}
.listTit::after {
    content: '';
    width: 80rpx;
    height: 2rpx;
    background-color: #ddd;
    margin-left: 20rpx;
}
.list {
    width: 100%;
    padding: 30rpx 0;
    height: 188rpx;
    box-sizing: border-box;
    border-bottom: 1rpx solid #dedfe0;
    background-color: #fff;
    display: flex;
}
.list_l {
    padding-left: 26rpx;
}
.list_img {
    width: 160rpx;
    height: 120rpx;
    display: block;
    background-color: blue;
}
.list_c {
    padding-left: 28rpx;
    flex: 1;
    padding-right: 30rpx;
}
.list_c_t {
    height: 85rpx;
    line-height: 36rpx;
}
.list_title {
    font-size: 28rpx;
    color: #000;
}
.list_c_b {
    clear: both;
    width: 382rpx;
}
.list_area_box {
    float: left;
    width: 280rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}
.list_area {
    font-size: 24rpx;
    color: #808080;
}
.list_icon_box {
    float: left;
    width: 102rpx;
    line-height: 1;
}
.list_icon_year {
    display: inline-block;
    height: 34rpx;
    line-height: 34rpx;
    box-sizing: border-box;
    padding: 0 5rpx;
    border: 1px solid #66c8fa;
    border-radius: 3rpx;
    font-size: 20rpx;
    color: #66c8fa;
}
.bottomBar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 120rpx;
    background: #fff;
    border-color: #ebebeb;
    display: flex;
}
.csBar {
    width: 150rpx;
    height: 120rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csBarIcon {
    width: 48rpx;
    height: 48rpx;
    background-image: url('https://img.58cdn.com.cn/olympia/img/shenghuo/final/im_bg.png');
    background-repeat: no-repeat;
    background-position: 1px -71px;
    background-size: 48px;
}
.csBar text {
    font-size: 24rpx;
    color: #666;
}
.miniBar,
.telBar,
.weiBar {
    height: 100%;
    flex: 1;
    font-size: 26rpx;
    background-color: #f1a82a;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.miniBar{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    color:rgb(102,102,102);
    background-color: white;
}
.telBarIcon,
.weiBarIcon {
    width: 48rpx;
    height: 48rpx;
}
.weiBar {
    background-color: #ff552e;
}
.miniBarIcon,
.telBarIcon,
.weiBarIcon {
    width: 50rpx;
    height: 50rpx;
    background-image: url(http://img.58cdn.com.cn/olympia/img/shenghuo/final/im_bg.png);
    background-size: 100rpx;
    background-position: 0 0;
    margin-bottom: 4rpx;
}
.miniBarIcon{
    background-size: cover;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAb1BMVEUAAABmZmZmZmZmZmZmZmZnZ2dra2tzc3NmZmZoaGhwcHBmZmZnZ2dra2tmZmZnZ2dnZ2dmZmZnZ2dqampnZ2dmZmZnZ2dnZ2doaGhlZWVmZmZnZ2dmZmZnZ2dmZmZnZ2dnZ2dmZmZoaGhoaGhmZmZ5OiXWAAAAJHRSTlMA9fjxtVoSCdYnD3M9GufQe5IuIq6ki1FA6t5V42aDw2qtGGy4rcORAAAB8klEQVRIx9VV63qiUAxsJiAgyEVWqxbUduf9n3G5CEEO7G7bX80fPw+ZkzO5TF5+hgXRyY9j/xQF/+O98T1RVUBVxfM3/3DfHaCcmOKw+9vtRwEpkmZeUXhZKiAhx9Uo+7OQEubRcBDlYXty3i/7v3buyfNh0kFel/xrkPrmnr8pyXrhfhIol24qKxBOjL0Ql+3yW7cXocx4bM5kNfi7CJDn51wdhVo6fn5cJ51fqZTjU72EMucbHKAQlbhjLpRpBQ9gOPcn2Fva/g2Jw4QBKMnMPyMh2QWgFG09hDAWvjoBTkpNmyx8XNBnKKT641ePyGeAK8ngkSH93fzmQm8ML5RoBvjF4XtFXNu+Ekow9Jg2xNYAOzzeklIje2+2Agh8kNJVNKOejLM3LUo5Au5sDHFP1FjHYGH9fBNeH4CArT3yURDxAiDvfIYIV8oteTGA+6QcbOw+ciitH9onOaS3QsIPjLSZkba0drHQ3OkAhrQ6hbuCVX/2PgP0hXNa465EP0YkJwNgrWHNZ4P60cS8gToZ46H53PYuhMAlE5ChKau1tztAKXsDzd8GaGlEY1GB4t0UwUZ0WQQ2SR1PRXsUAUdmsC4zVSsznxEyUPaOVIKolqUSIBfkuOa6GKP+vNx/f6HYyoKzsr68FL+/dt3F/iPsD5JSMLB3nJ4xAAAAAElFTkSuQmCC);
}
.weiBarIcon {
    background-position: 0 -48rpx;
}

.jubao {
    height: 80rpx;
    padding: 30rpx;
    margin: 30rpx 0 150rpx;
    background-color: #fff;
    font-size: 26rpx;
    position: relative;
    padding-bottom:150rpx;
}
.jubao text {
    color: #ff552e;
}
.jbImg {
    width: 65rpx;
    height: 62rpx;
    background: url(https://img.58cdn.com.cn/olympia/img/shenghuo/final/sp_mdetail_new.png)
        no-repeat;
    background-position: -5rpx -770rpx;
    background-size: 126rpx 1476rpx;
    position: absolute;
    right: 30rpx;
    top: 40rpx;
    border-left: 2rpx solid #f3f3f3;
}
.evaluation {
    margin-top: 30rpx;
    background-color: #fff;
}
.evaluationTit {
    height: 90rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28rpx;
    padding: 0 30rpx;
    color: #000;
    border-bottom: 2rpx solid #f3f3f3;
}
.evaluationLev text {
    color: #ff552e;
}
.evaluationHref {
    color: #0e8ed8;
}
.evaluationHref::after {
    content: '';
    border: 15rpx solid #0e8ed8;
    border-top-width: 10rpx;
    border-bottom-width: 10rpx;
    border-color: transparent transparent transparent #0e8ed8;
    display: inline-block;
    margin-left: 10rpx;
}
.evaluation_group {
    margin-top: 10rpx;
    padding: 30rpx;
    background-color: #fff;
}

.evaluation_group_top {
    overflow: hidden;
}

.user_img {
    float: left;
}

.user_img image {
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
}

.user_info {
    float: left;
    position: relative;
    width: 88%;
    margin-left: 20rpx;
}

.user_name_box {
    line-height: 26rpx;
    height: 26rpx;
}

.user_name {
    font-size: 26rpx;
}

.time {
    font-size: 26rpx;
    float: right;
    line-height: 1;
}

.star_group {
    line-height: 1;
    margin-top: 13rpx;
    width: 68px;
    height: 12px;
    overflow: hidden;
    background: url(https://img.58cdn.com.cn/olympia/img/shenghuo/final/ico-allstars@2x.png)
        no-repeat 0 0;
    background-size: 100%;
    position: relative;
    top: -1px;
}

.star_group .star {
    display: inline-block;
    width: 100%;
    height: 12px;
    overflow: hidden;
    background: url(https://img.58cdn.com.cn/olympia/img/shenghuo/final/ico-allstars@2x.png)
        no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.star_group .star1 {
    background-position: 0 -16px;
}

.star_group star1-half {
    background-position: 0 -32px;
}

.star_group .star2 {
    background-position: 0 -48px;
}

.star_group .star2-half {
    background-position: 0 -64px;
}

.star_group .star3 {
    background-position: 0 -80px;
}

.star_group star3-half {
    background-position: 0 -96px;
}

.star_group .star4 {
    background-position: 0 -112px;
}

.star_group star4-half {
    background-position: 0 -128px;
}

.star_group .star5 {
    background-position: 0 -144px;
}

.evaluation_group_desc {
    padding-left: 80rpx;
    font-size: 26rpx;
}

.evaluation_group_dialogue {
    padding-left: 80rpx;
    font-size: 26rpx;
}

.dial_seller {
    background: none;
    margin-top: 15rpx;
    border-top: 1px solid #f6f6f6;
    padding: 30rpx 0 0;
}

.redfont {
    color: #ff552e;
}
.allPrint {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.allPrint view {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-image {
    width: 100%;
    max-height: 80%;
}
@font-face {
    font-family: iconfont-addr;
    src: url(https://img.58cdn.com.cn/webfonts/shenghuo/huangye_final.woff)
            format('woff'),
        url(https://img.58cdn.com.cn/webfonts/shenghuo/huangye_final.ttf)
            format('truetype'),
        url(https://img.58cdn.com.cn/webfonts/shenghuo/huangye_final.svg#iconfont-addr)
            format('svg');
}
.mapIcon {
    width: 32rpx;
    height: 26rpx;
    font-family: iconfont-addr !important;
    font-size: 28rpx;
    line-height: 30rpx;
    right: 0rpx;
    position: absolute;
    color: #c7c7c7;
}
.commentContainer{
    padding:0 30rpx;
    background:white;
}
.commentTip{
    display:flex;
    height:90rpx;
    justify-content: space-between;
    font-size:28rpx;
    align-items: center;
}
.commentNum{
    color:#000;
}
.commentScore{
    color:rgb(238,103,35);
} 
.commentScore::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:10rpx; 
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #aaa;
}
.commentBlock{
    border-top:2rpx solid #f1ebdf;
    padding-top:30rpx;
    display:flex;
    height:220rpx;
    justify-content: space-between;
}
.thumbContainer{
    width:60rpx;
}
.thumbContainer .thumb{
    width:60rpx;
    height:60rpx;
    border-radius: 50%;
}
.commentInfo{
    width:610rpx;
}
.commentInfo .info{
    display:flex;
    justify-content: space-between;
}
.info .nickName{
    font-size:24rpx;
}
.info .commentDate{
    font-size:24rpx;
    color:#999;
}
.comment{
    margin-top:20rpx;
    font-size:26rpx;
    color:#666;
}
.stars{
   line-height: 0;
}
.stars .star{
   width:24rpx;
   height:24rpx; 
   margin-right:4rpx;
}
/* 基本结构 */
.table{
    display:table;
}
.inline-table{
    display:inline-table;
}
.cell{
    display:table-cell;
    vertical-align: middle;
}
.c-center{
    text-align: center;
}
.mr-10{
    margin-right: 10rpx;
}
.mr-20{
    margin-right: 20rpx;
}
.mt-5{
    margin-top:5rpx;
}
.mt-40{
    margin-top:40rpx;
}

/* 文字样式 */
.font-normal{
    color:#fff;
    font-size:24rpx;
}
.font-large{
    font-size:40rpx;
}
.font-large2{
    font-size:50rpx;
}
.font-gray1{
    color:#ccc;
}
.font-gray2{
    color:#aaa;
}
.font-yellow2{
    color:#FFE37F;
}
.one-text{
    overflow:hidden;
    text-overflow: clip;
    white-space: nowrap;
    word-break:keep-all;
}
.view-coupon{
    margin-top:15rpx;
    margin-bottom:15rpx;
}

/* 优惠券样式一 */
.coupon-shadow{
    width:730rpx;
    height: 180rpx;
    padding:10rpx;
    background:url('http://img.58cdn.com.cn/lbg/jianzhan/images/bg-coupon1.png') no-repeat top left;
    background-size:100%;
}
.coupon-box{
    width:100%;
    height:180rpx;
}
/* 左侧 */
.coupon-left{
    width:174rpx;
    max-width:174rpx;
    line-height: 180rpx;
    font-size: 60rpx;
    color: #FF552E;
    vertical-align: middle;
    text-align: center;
}
.coupon-discount{
    font-size: 30rpx;
    color: #FF552E;
}
/* 右侧 */
.coupon-right{
    position:relative;
    padding:25rpx 30rpx;
}
.first-row{
    line-height: 45rpx;
    font-size: 32rpx;
    color: #FFFFFF;
}
.second-row,.receive-button{
    line-height: 40rpx;
    font-size: 28rpx;
    color: #FFFFFF;
}
.last-row{
    margin-top:14rpx;
    line-height: 34rpx;
    font-size: 24rpx;
    color: #FFE37F;
}
.first-row,.second-row,.last-row{
    max-width: 346rpx;
}
.receive-button{
    width:160rpx;
    line-height: 60rpx;
    text-align: center;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:30rpx;
    color: #FF9C02;
    background: #FFFFFF;
    border-radius: 30rpx;
}
/* 优惠券样式二 */
.coupons-scroll{
    height: 180rpx;
    white-space: nowrap;
}
.coupon{
    width:315rpx;
    height: 180rpx;
    padding-left:30rpx;
    padding-right:8rpx;
    color:#fff;
    background:url('http://img.58cdn.com.cn/lbg/jianzhan/images/bg-coupon2.png') no-repeat top left;
    background-size:100% 200rpx;
    border-radius: 3rpx;
}

.coupon-right-2{
    width:64rpx;
    padding:0 21rpx;
    white-space: normal;
    text-align: center;
}
/* 优惠卷二结构 */
.view-coupon2{
    padding:0 20rpx 0;
    background-color:initial;
}
.coupons-scroll{
    height: 188rpx;
    white-space: nowrap;
}
.coupon2-wrap{
    display:flex;
    /* overflow: hidden; */
}
.coupon2-shadow{
    width:335rpx;
    height:188rpx;
    padding:4rpx 10rpx;
    background:url('http://img.58cdn.com.cn/lbg/jianzhan/images/bg-coupon2.png') no-repeat top left;
    background-size:100% 100%;
}
.coupon2{
    height: 180rpx;
    width:315rpx;
}
.none-coupon{
    width:335rpx;
    height:188rpx;
    background:url('http://img.58cdn.com.cn/lbg/jianzhan/images/none-coupon.png') no-repeat top left;
    background-size:100% 100%;
}
.coupon2-left{
    width:250rpx;
    max-width:250rpx;
    padding-left:30rpx;
}
.coupon2-right{
    width:64rpx;
    vertical-align: middle;
    padding:0 21rpx;
    white-space: normal;
    text-align: center;
}
button{
    background:none;
    padding:0;
    line-height:0;
}
button:after{
    border: none;
}