.h2{
    font-size: 28rpx;
    color: #000;
    display: block;
    height: 70rpx;
    line-height: 70rpx;
    font-weight: 700;
    
}
.titAll{
    float: right;
    position: relative;
}
.allText{
    color: #bbb;
    font-size: 26rpx;
    font-weight: normal;
    padding-right: 15rpx;
}
.allImage{
    width:8rpx;
    height:13rpx;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-6.5rpx;
}
.lrListBox{
    align-items: center;
    position: relative;
    display: flex;
    flex-flow:wrap; 
}
.lrListBox .lrBefore{
    width: 2rpx;
    background-color: #f6f6f6;
    top: 0;
    right: 0;
    bottom: auto;
    left: 49.5%;
    height: 100%;
    position: absolute;
}
.lrListBox .lrAfter{
    height: 2rpx;
    background-color: #f6f6f6;
    top: 49.5%;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    position: absolute;
}
.lrListItem{
    height: 140rpx;
    width:267rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 24rpx;
    color: #555;
}
.lrListImg{
    width: 90rpx;
    height: 90rpx;
    padding-left: 20rpx;
}
.lrListText{
    padding-left: 15rpx;
}
.norListBox{
    background-color: #fff;
    display: flex;
    flex-flow:wrap; 
    width:100%;
}
.norListItem{
    width:165rpx;
    height: 155rpx;
    margin: 12rpx 6rpx;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    font-size: 25rpx;
    color: #555;
}
.norListImg{
    width: 90rpx;
    height: 90rpx;
}
