.none { display: none;}
.body{background-color: #fff;}
.list{width: 100%; padding:30rpx 0; height: 188rpx; box-sizing: border-box; border-bottom: 1rpx solid #dedfe0;}
.list_l{float: left; padding-left: 26rpx;}
.list_img{width: 160rpx; height: 120rpx; display: block; background-color:#f9f9f9;}
.list_c{float: left;padding-left: 28rpx;width: 382rpx;}
.list_c_t{height: 96rpx;line-height: 36rpx;}
.list_title{font-size: 28rpx;  color: #000;}
.list_c_b{clear: both; width: 382rpx;}
.list_area_box{ float: left; width: 280rpx; overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; line-height: 1;}
.list_area{ font-size: 24rpx; color:#808080;}
.list_icon_box{float: left; width: 102rpx; line-height: 1;}
.list_icon_year{display: inline-block; height: 34rpx;line-height: 34rpx;  box-sizing: border-box; padding: 0 5rpx; border: 1px solid #ff7d78; border-radius: 3rpx; font-size: 20rpx; color:#ff7d78;}
.list_r{float: left; margin-left: 20rpx;border-left: 1px solid #dedfe0; height: 136rpx; width: 130rpx;}
.list_tel{ margin: 30rpx 0 0 30rpx; width: 66rpx; height: 66rpx;}

.return_top_box{ position: fixed; z-index: 10; right: 20px; bottom: 20px;}
.return_top{width: 75rpx; height: 75rpx;}